{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <div class="card">
    <div class="card-body">
        <h3 class="card-title">Nosotros</h3>
        <div class="card-text">
            <p>Somos un pequeño grupo, con la intencion de crear un proyecto con el cual pretendemos comprender el funcionamiento de un sistema experto.
               En este caso contruimos un sitio web, el cual te pide una imagen con un texto, lo que hara el "Sistema", 
               sera comprender el texto de la imagen y reconocer que idioma es. </p>
        </div>
    </div>
  </div>
</div><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock%}
